.list {
  display: block;
  margin: 0 auto;
  width: 800px;
}
.item {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.title {
  width: 650px;
}

.title::first-letter {
  text-transform: uppercase;
}
